
img{
    max-width: 200px;
    max-height: 200px;
}
.grid-item {
    width:200px;
    height:200px;
}
.grid-container{
    max-width:800px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
/* .transparent {
    display:none;
} */
/* .grid-container img{
    position:absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
} */
