:root{
    --transition-duration: 1000ms;
}
img{
    max-width: 200px;
    max-height: 200px;
}
.grid-item {
    position: relative;
    width:200px;
    height:200px;
}
.grid-container{
    max-width:800px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
.grid-container img{
    position:absolute;
    -webkit-transition: opacity var(--transition-duration) ease-in-out;
    -moz-transition: opacity var(--transition-duration) ease-in-out;
    -o-transition: opacity var(--transition-duration) ease-in-out;
    transition: opacity var(--transition-duration) ease-in-out;
}

.transparent {
    opacity: 0;
}
/* .show {
    opacity:1;

} */
